version: '3.3'
services:
  nginx-front:
    build:
      context: .
      dockerfile: ./Dockerfile
    image: nginx-front
    container_name: nginx-front-container
    privileged: true
    ports:
      - "80:80"
    expose:
      - "80"
    volumes:
      - /var/lib/jenkins/workspace/ANFrontPipeline_master/dist:/var/www/dist
      - /var/lib/jenkins/workspace/ANPipeline_master/static_in_env:/an/static
    external_links:
      - an-container

networks:
  default:
    external:
      name:  anpipeline_master_an_network