.MuiTypography-body1{
    text-align: left;
    height: 28%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}
.MuiTypography-body2{
    text-align: left;
    margin-bottom: 3%;
}
.MuiTypography-h5{
    text-align: left;
}
.MyCustomButton:hover{
    background-color: inherit !important;
}
.MyStarIcon{
    margin-bottom: 8px;
    margin-left: 5px;
    color: #1976D2;
}
.ProductListStyle{
    width: 100%;
}
.ListMainAreaStyle{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 2%;
}
.PaginationStyle{
    display: flex;
    justify-content: right;
    padding-left: 28%;
}
.FloatingMenuOuterBoxStyle{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.AccordionStyle.MuiAccordion-root{
    position: fixed;
    width: 12%;
    height: min-content;
    top: 200px;
    background-color: transparent;
    border-top: solid 1px;
    border-top-color: #666666;
    box-shadow: none;
}
.FloatingMenuStyle{
    width: 100%;
    height: 780px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
}
.ButtonStyle.MuiButton-root{
    width:fit-content;
    border-radius: 5px;
    border-color: black;
    height: 40px;
    margin-left: 10px;
    margin-top: 5px;
}
.ButtonStyle:hover{
    background-color: inherit !important;
}
.DetailTypoBox{
    margin-left: 22%;
    width: 10%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.DetailMainStyle{
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
}
.DetailMainContentArea{
    order: 2;
    height: 70%;
    width: 70%;
    margin-left: 10%;
    display: flex;
    align-self: center;
}
.CarouselStyle{
    padding-bottom: 2px;
    padding-top: 2px;
}
.DetailMainGraphArea{
    height: 85%;
    width: 65%;
}
.DetailMainInfoArea{ 
    margin-top: 4%;
    height: 100%;
    width: 35%;
}
.ListItem{
    width: 280px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 2;
}
.DetailCard{
    width: 350px;
    height: 470px;
    display: flex;
    flex-direction: column;
    border-radius: 2;
    margin-top: 20%;
}