.MuiTypography-body1{
    text-align: left;
    height: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}
.MuiTypography-body2{
    text-align: left;
    margin-bottom: 3%;
}
.MuiTypography-h5{
    text-align: left;
}
.MyCustomButton:hover{
    background-color: inherit !important;
}
.MyStarIcon{
    margin-bottom: 8px;
    margin-left: 5px;
    color: #1976D2;
}
.ProductListStyle{
    width: 100%;
}
.ListMainAreaStyle{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    
}
.PaginationStyle{
    display: flex;
    justify-content: center;
    padding-left: 28%;
}
.FloatingMenuOuterBoxStyle{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.AccordionStyle.MuiAccordion-root{
    position: fixed;
    width: 12%;
    height: min-content;
    top: 200px;
    background-color: transparent;
    border-top: solid 1px;
    border-top-color: #666666;
    box-shadow: none;
}
.FloatingMenuStyle{
    width: 100%;
    height: 780px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
}
.ButtonStyle.MuiButton-root{
    width:fit-content;
    border-radius: 5px;
    border-color: black;
    height: 40px;
    margin-left: 10px;
    margin-top: 5px;
    box-shadow: none;
    background-color: #F4F4F4;
}
.ButtonStyle:hover{
    background-color: inherit !important;
}